:root {
  --body-color: #ffffff;
  --logo-color: #2196f3;
  --second-logo-color: #212121;
  --main-background-color: #2f303a;
  --header-link: #212121;
  --btn-back: #2196f3;
  --btn-color: #ffffff;
  --team-background-color: #f5f4fa;
  --footer-background: #2f303a;
  --header-link-studio: #212121;
  --header-link_mail: #757575;
  --header-link-tel: #757575;
  --main-title: #ffffff;
  --main-h: #212121;
  --main-text: #757575;
  --about: #212121;
  --team: #212121;
  --team-name: #212121;
  --team-post: #757575;
  --main-servies: #212121;
  --main-description: #757575;
  --footer-color-logo: #ffffff;
  --footer-address: #ffffff;
}

.navigation, .navigation__list, .contact, .about__list, .team__socials-link, .agreement__text, .header__container {
  display: flex;
  align-items: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: Roboto, sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767.98px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--btn-back);
  color: var(--btn-color);
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}

.logo__first {
  margin-right: 93px;
}

@media screen and (max-width: 767.98px) {
  .logo__first {
    margin: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .logo__first {
    margin-right: 88px;
  }
}

.logo__second {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-logo-color);
}

@media screen and (max-width: 767.98px) {
  .navigation__list {
    display: none;
  }
}

.navigation__item + .navigation__item {
  margin-left: 50px;
}

.navigation__link-studio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--header-link-studio);
}

.navigation__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--header-link);
}

.navigation__link:hover, .navigation__link:focus {
  color: var(--logo-color);
}

.navigation__link-studio:hover, .navigation__link-studio:focus {
  color: var(--logo-color);
}

@media screen and (max-width: 767.98px) {
  .contact {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contact {
    display: block;
    margin-left: 88px;
  }
}

.contact__item {
  margin-left: 285px;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contact__item {
    margin: 0;
  }
}

.contact__item + .contact__item {
  margin-left: 50px;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contact__item + .contact__item {
    margin: 0;
  }
}

.contact__mail-icon {
  margin-right: 10px;
  vertical-align: middle;
  fill: currentColor;
}

.contact__tel-icon {
  margin-right: 10px;
  vertical-align: middle;
  fill: currentColor;
}

.contact__link-mail {
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-link_mail);
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contact__link-mail {
    margin-bottom: 10px;
  }
}

.contact__link-mail:hover, .contact__link-mail:focus {
  color: var(--logo-color);
}

.contact__link-tel {
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-link-tel);
}

.contact__link-tel:hover, .contact__link-tel:focus {
  color: var(--logo-color);
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0px;
  background-color: var(--main-background-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/retina/hero/hero__sm.jpg);
}

@media screen and (max-width: 767.98px) {
  .hero {
    max-width: 480px;
    padding: 118px 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .hero {
    max-width: 768;
    padding: 118px 0px;
  }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/retina/hero/hero__sm@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/retina/hero/hero__md.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 2dppx), screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/retina/hero/hero__md@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/retina/hero/hero__lg.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 2dppx), screen and (min-width: 1200px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/retina/hero/hero__lg@2x.jpg);
  }
}

.hero__title {
  font-weight: 900;
  font-family: Roboto;
  font-size: 44px;
  line-height: 1.5;
  color: var(--main-title);
  margin-bottom: 30px;
}

@media screen and (max-width: 767.98px) {
  .hero__title {
    font-size: 26px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .hero__title {
    font-size: 26px;
  }
}

.features {
  padding: 94px 0px 0px;
}

@media screen and (max-width: 767.98px) {
  .features {
    padding: 60px 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .features {
    padding: 60px 0px;
  }
}

@media screen and (min-width: 480px) {
  .features__list {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 55px;
    margin-bottom: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .features__list {
    display: flex;
    align-items: center;
  }
}

.features__item {
  width: 270px;
  margin-right: 30px;
}

@media screen and (max-width: 767.98px) {
  .features__item__item:last-child {
    margin-bottom: 0;
  }
}

.features__item:last-child {
  margin-right: 0px;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .features__item:last-child {
    margin-right: 30px;
  }
}

.features__title {
  margin-bottom: 10px;
}

.features__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

@media screen and (max-width: 767.98px) {
  .features__icon {
    width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .features__icon {
    width: 354px;
  }
}

.features__icon-svg {
  width: 70px;
  height: 70px;
}

.features__title {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-h);
}

@media screen and (max-width: 767.98px) {
  .features__title {
    width: 450px;
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .features__title {
    width: 354px;
  }
}

.features__text {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text);
}

@media screen and (max-width: 767.98px) {
  .features__text {
    width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .features__text {
    width: 354px;
    margin-bottom: 30px;
  }
}

.about {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 767.98px) {
  .about {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .about {
    display: none;
  }
}

.about__item + .about__item {
  margin-left: 30px;
}

.about__title {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  font-family: Roboto;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--about);
}

.about__item {
  position: relative;
}

.about__text {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  padding: 27px 82px;
  width: 100%;
}

.team {
  padding: 94px 0px 94px 0px;
  background-color: var(--team-background-color);
}

@media screen and (max-width: 767.98px) {
  .team {
    padding: 60px 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .team {
    padding: 60px 0px;
  }
}

.team__list {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

@media screen and (min-width: 480px) {
  .team__list {
    width: 450px;
    margin-bottom: -30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    width: 768px;
    margin: 0;
    gap: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 480px) {
  .team__item {
    width: auto;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767.98px) {
  .team__item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .team__item {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team__item:not(:last-child) {
    margin-right: 30px;
    max-width: 270px;
  }
}

.team__card {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__title {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  font-family: Roboto;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--team);
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .team__title {
    margin-bottom: 30px;
    font-size: 28px;
  }
}

.team__name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: var(--team-name);
}

.team__post {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  color: var(--team-post);
}

.team__socials-list {
  display: flex;
  justify-content: center;
}

.team__socials-item + .team__socials-item {
  margin-left: 10px;
}

.team__socials-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
  fill: currentColor;
}

.team__socials-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__socials-link:hover, .team__socials-link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 767.98px) {
  .clients {
    padding: 60px 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .clients {
    padding: 60px 0px;
  }
}

@media screen and (max-width: 767.98px) {
  .clients__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
    margin-bottom: -30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .clients__list {
    display: flex;
    flex-wrap: wrap;
    width: 768px;
    margin-bottom: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__list {
    display: flex;
    justify-content: center;
    margin-bottom: -30px;
  }
}

.clients__item + .clients__item {
  margin-left: 30px;
  margin-bottom: 30px;
}

@media screen and (max-width: 767.98px) {
  .clients__item + .clients__item {
    margin-left: 30px;
    margin-bottom: 30px;
  }
  .clients__item:first-child {
    margin-left: 30px;
  }
  .clients__item:nth-child(odd) {
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .clients {
    flex-basis: calc((100% - 20px) / 3);
  }
  .clients__item:nth-child(4n) {
    margin-left: 0;
  }
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.clients__title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--team-color);
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .clients__title {
    font-size: 28px;
    margin-bottom: 30px;
  }
}

.clients__link {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .clients__link {
    width: 210px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .clients__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}

.clients__link:hover, .clients__link:focus {
  border-color: #2196f3;
  color: #2196f3;
}

.address__item {
  margin-bottom: 9px;
}

.address__item:last-child {
  margin: 0px;
}

.address__list {
  margin-top: 20px;
}

@media screen and (max-width: 767.98px) {
  .address__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;
  }
}

.address__tel {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address__tel:hover, .address__tel:focus {
  color: var(--logo-color);
}

.address__mail {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address__mail:hover, .address__mail:focus {
  color: var(--logo-color);
}

/* modal window */
.backdrop {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: scale(0.5);
}

.modal {
  width: 528px;
  min-height: 581px;
  background: #ffffff;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0px 1px 3px rgba 0 0 0, 0.12, 0px 1px 1px rgba 0 0 0, 0.14, 0px 2px 1px rgba 0 0 0, 0, 2;
  transition: 250ms;
  padding: 40px;
}

@media screen and (max-width: 767.98px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .modal {
    width: 450px;
  }
}

.modal__close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal__close-icon {
  width: 11px;
  height: 11px;
}

.modal__close-icon:hover, .modal__close:focus {
  fill: #2196f3;
}

.modal__title {
  color: #212121;
  font-size: 20px;
  line-height: 1.15;
  font-weight: 700;
  text-align: center;
  margin-bottom: 12px;
}

.modal__field {
  margin-bottom: 10px;
}

.modal__label {
  font-size: 12px;
  line-height: 1.16;
  color: #757575;
  display: block;
  margin-bottom: 4px;
}

.modal__imput-wrap {
  position: relative;
}

.modal__icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal__imput {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__imput:hover, .modal__imput:focus {
  border-color: #2196f3;
}

.modal__imput:focus,
.modal__imput:hover + .modal-icon {
  fill: #2196f3;
}

.modal__text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  outline: none;
  margin-bottom: 20px;
}

.modal__text::placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.agreement {
  display: block;
  margin-bottom: 30px;
}

.agreement__check {
  vertical-align: middle;
}

.agreement__check:checked + .agreement__text::before {
  background-image: url(../images/icon-check.png);
  border: none;
}

.agreement__check:focus + .agreement__text::before {
  border-color: #2196f3;
}

.agreement__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  justify-content: center;
  color: #757575;
}

@media screen and (min-width: 480px) {
  .agreement__text {
    font-weight: normal;
    font-size: 12px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.agreement__text::before {
  content: " ";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  display: block;
  margin-right: 8px;
}

.agreement__extra {
  color: #2196f3;
  text-decoration: underline;
  padding-left: 5px;
}

.agreement__button {
  display: block;
  margin: 0 auto;
  padding: 10px 55px;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* modal window end */
.menu__button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;
  z-index: 1000;
}

@media screen and (min-width: 768px) {
  .menu__button {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .menu__button {
    display: none;
  }
}

.menu__button:hover, .menu__button:focus {
  fill: #2196f3;
}

.menu__button .menu__icon {
  display: none;
}

.menu__button.is-open .menu__icon {
  display: block;
}

.menu__button.is-open .menu__close {
  display: none;
}

.menu-container {
  display: none;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  left: 0;
  z-index: 900;
  background-color: #fff;
  padding: 48px 40px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.menu-container.is-open {
  display: flex;
}

.menu-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-nav__link {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
  cursor: pointer;
}

.menu-nav__link:hover,
.menu-nav__link:focus {
  color: #2196f3;
}

.menu-contacts {
  margin-top: auto;
}

.menu-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-contacts__phone {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.menu-contacts__mail {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

.menu-socials {
  display: flex;
  margin: 0;
  margin-top: 64px;
  padding-right: auto;
}

.menu-socials__link {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.menu-socials__item + .menu-socials__item {
  padding-left: 10px;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}

.header {
  position: relative;
  padding: 24px 0px 25px 0px;
  border-bottom: 1px solid #eeeeee;
}

@media screen and (max-width: 767.98px) {
  .header {
    padding: 16px 0px;
  }
}

.pages {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  color: var(--second-link-color);
  position: relative;
}

.current::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  background-color: #2196F3;
  left: 0;
  bottom: -32px;
  border-radius: 2px;
}

.hero__container {
  display: flex;
  text-align: center;
  text-transform: uppercase;
  flex-direction: column;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background);
}

@media screen and (max-width: 767.98px) {
  .footer__container {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    align-items: baseline;
  }
}

.footer__color-logo {
  color: var(--footer-color-logo);
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer-content {
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 767.98px) {
  .footer__logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__logo {
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }
}

.footer__address {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-address);
}

.footer__address:hover, .footer__address:focus {
  color: var(--logo-color);
}

.footer__subscribe {
  margin-left: 70px;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__subscribe {
    display: block;
    text-align: center;
    margin-left: 204px;
  }
}

@media screen and (max-width: 767.98px) {
  .footer__subscribe {
    margin: 0;
  }
}

.footer__subscribe-list {
  display: flex;
}

@media screen and (max-width: 767.98px) {
  .footer__subscribe-list {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }
}

.footer__subscribe-item + .footer__subscribe-item {
  margin-left: 10px;
}

.footer__subscribe-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer__subscribe-title {
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (max-width: 767.98px) {
  .footer__subscribe-title {
    display: flex;
    justify-content: center;
  }
}

.footer__subscribe-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__subscribe-link:hover, .footer__subscribe-link:focus {
  background-color: #2196f3;
}

/* footer telegram */
@media screen and (min-width: 1200px) {
  .footer__form {
    margin-left: 93px;
  }
}

@media screen and (max-width: 767.98px) {
  .footer__form {
    margin: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__form {
    margin-top: 60px;
  }
}

.footer__form-title {
  font-style: 400;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (max-width: 767.98px) {
  .footer__form-title {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__form-title {
    display: flex;
    justify-content: center;
  }
}

.footer__form-sub {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767.98px) {
  .footer__form-sub {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__form-sub {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.footer__form-email {
  width: 358px;
  height: 50px;
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  color: #ffffff;
}

@media screen and (max-width: 767.98px) {
  .footer__form-email {
    margin-bottom: 30px;
    width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__form-email {
    margin-bottom: 30px;
    width: 450px;
  }
}

.footer__form-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
  border: none;
  padding: 10px 28px;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer__form-icon {
  margin-left: 10px;
  fill: #ffffff;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 767.98px) {
  .portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.portfolio__list {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-bottom: 50px;
}

@media screen and (max-width: 767.98px) {
  .portfolio__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
}

.portfolio__item + .portfolio__item {
  margin-left: 8px;
}

@media screen and (max-width: 767.98px) {
  .portfolio__item {
    max-width: 450px;
    margin-bottom: 15px;
  }
  .portfolio__item:nth-child(4) {
    margin: 0;
  }
}

.portfolio__btn {
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__btn:hover, .portfolio__btn:focus {
  color: white;
  background-color: var(--logo-color);
}

@media screen and (max-width: 767.98px) {
  .srevies {
    display: block;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .srevies {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .srevies {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

.srevies__card {
  padding-top: 20px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top: none;
  box-sizing: border-box;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-right: 24px;
}

.srevies__name {
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--main-servies);
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .srevies__name {
    font-size: 16px;
  }
}

.srevies__description {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-description);
}

.srevies__wrap {
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 767.98px) {
  .srevies__item {
    display: block;
    justify-content: center;
    max-width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .srevies__item {
    width: 354px;
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }
}

.srevies__item:hover, .srevies__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.srevies__item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
  position: relative;
  cursor: pointer;
}

.srevies__item:focus .srevies__text,
.srevies__item:hover .srevies__text {
  transform: translateY(0%);
}

@media screen and (max-width: 767.98px) {
  .srevies__item {
    max-width: 450px;
  }
}

.srevies__text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
  font-weight: 400;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*# sourceMappingURL=main.css.map */