.contact {

    @extend %flex;
    

    @include mq(mobile) {}
    
    @include mq(tablet-only) {
        display: block;
        margin-left: 88px;
    }

    &__item{
        margin-left: 285px;

        @include mq(tablet-only){
            margin: 0;
        }

       
    }

    &__item + &__item {
        margin-left: 50px;

        @include mq(tablet-only) {
                margin: 0;
            }
       
    }

    &__mail-icon {
        margin-right: 10px;
        vertical-align: middle;
        fill: currentColor;
    }

    &__tel-icon {
        margin-right: 10px;
        vertical-align: middle;
        fill: currentColor;
    }

}

.contact__link-mail {
    display: flex;

    @include fonts (Roboto, normal, 500, 14px, 1.14, 0.02em);

    color: var(--header-link_mail);

    &:hover,
    &:focus {
        color: var(--logo-color);
    }

}

.contact__link-tel {
    display: flex;

    @include fonts (Roboto, normal, 500, 14px, 1.14, 0.02em);

    color: var(--header-link-tel);

    &:hover,
    &:focus {
        color: var(--logo-color);
    }

}



