.hero {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding: 200px 0px;
    background-color: var(--main-background-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img.png)
    
    
}
 
.hero__title {
    margin-bottom: 30px;
    font-family: Roboto;
    font-size: 44px;
    line-height: 1.5;
    color: var(--main-title);
}
  