.mobile-menu {
    // position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px;

    display: flex;
    flex-direction: column;

    // transform: translateX(100%);

    background-color: #fff;

    @include mq(tablet) {
        display: none;
    }

    &__link {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.02em;
    
    color: #212121;
    }

    &__item{
        margin-bottom: 32px;

    }
}


.mobile-contatcts{
    margin-top: auto;


&__item{
    margin-bottom: 32px;
}

&__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.02em;
    color: #212121;
}



}


.mobile-socials{
margin-top: 32px;
display: flex;

    &__item + &__item {

    padding-left: 10px;
    border-left: 1px solid rgba(33, 33, 33, 0.2);
    margin-left: 10px;
    }

    &__link
    {

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;

        color: #2196F3;
    }


}

