.menu-button{
    display: none;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    margin-left: auto;
    padding-top: 10px;

    transform: translate(100%);

    @include mq(tablet) {
        display: none;
    }

    z-index: 1000;
}



// .menu-button .menu_open {
//     display: none;
// }

.menu-button .is-open .menu_open {
    display: block;
}

// .menu-button .menu_close {
//     display: none;
// }


.menu-container{
position: absolute;

top: 0;
width: 100vw;
height: 100vh;
left: 0;
z-index: 900;

background-color: #fff;
padding: 48px 40px;

@include mq(tablet) {
    display: none;
}

& .is-open {
    display: block;
}

flex-direction: column;
justify-content: space-between;
}



.mobile-menu__item{
    margin-bottom: 32px;
}

.mobile-menu__link{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.02em;
        color: #212121;
}

.mobile-menu__link:hover,
.mobile-menu__link:focus{
    color: #2196F3;
}

.mobile-contatcts{
    margin-top: auto;
}
.mobile-contatcts {

    &__item {
        margin-bottom: 32px;
    }


    &__link {

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.02em;
        color: #2196F3;
    }

    &__linkmail {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: 0.02em;

        color: #757575;

    }


   

}


.mobile-socials {
    margin-top: 32px;
    display: flex;

    &__item+&__item {

        padding-left: 10px;
        border-left: 1px solid rgba(33, 33, 33, 0.2);
        margin-left: 10px;
    }

    &__link {

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;

        color: #2196F3;
    }


}


