:root {
    --body-color: #ffffff;
    --logo-color: #2196f3;
    --second-logo-color: #212121;
    --main-background-color: #2f303a;
    --header-link: #212121;
    --btn-back: #2196f3;
    --btn-color: #ffffff;
    --team-background-color: #f5f4fa;
    --footer-background: #2f303a;
    --header-link-studio: #212121;
    --header-link_mail: #757575;
    --header-link-tel: #757575;
    --main-title: #ffffff;
    --main-h: #212121;
    --main-text: #757575;
    --about: #212121;
    --team: #212121;
    --team-name: #212121;
    --team-post: #757575;
    --main-servies: #212121;
    --main-description: #757575;
    --footer-color-logo: #ffffff;
    --footer-address: #ffffff;
}